}
.about-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    width: 243px;
    height: 52.2px;
}
.about-us{
    margin-top: 95px;
    margin-right: 120px;
}
.container{
   margin: 120px 87px 132px;
   width: 100%;

}
.half-width{
    display: flex;
}
.half-width .start-tag{
    width: 582px;
    height: 133px;
}
.half-width img{
    width: 440px;
    height: 414px;
    border: 1px solid black;
}
.half-width{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 550px;
}
text-align: center;
    margin-left: 1200px;

    noooooooooooooooooooooooooooooooooooooooooo